body {
    font-family: 'Poppins', sans-serif;
}

li p {
    display: inline-block;
}

.lista {
    margin-left: 20px;
    font-weight: bold;
    line-height: 4.5rem;
}

.h1 {
    font-weight: bold;
}

.h3 {
    font-weight: bold;
}


header {
    background-color: #313e4f;
}

#nav-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

section {
    background-color: #66ba9e;
}

.row {
    color: white;
}

.img-responsive {
    max-height: 200px;
}

.immagine {
    padding: 55px 0px 15px 0px;
}

.stellina {
    position: relative;
}
.line1 {
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    max-width: 150px;
    min-width: 100px;
    top: 50%;
    left: -126px;
}

.line2 {
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    max-width: 150px;
    min-width: 100px;
    top: 50%;
    margin-left: 40px;
}

.final-text {
    padding-bottom: 50px
}

.btn, .btn-default, .btn-xs {
    background-color: #313e4f;
}

.glyphicon-menu-hamburger {
    color: white;
}

.btn-default {
    border-color: #313e4f;
}

.btn-default:hover {
    border-color: none;
    background-color: none;
}
