body {
    font-family: 'Poppins', sans-serif;
}

li p {
    display: inline-block;
}

.lista {
    margin-left: 20px;
    font-weight: bold;
    line-height: 4.5rem;
}

.h1 {
    font-weight: bold;
}

.h3 {
    font-weight: bold;
}

.h4 {
    line-height: 1.7;
}

header {
    background-color: #313e4f;
}

nav {
    color: white;
}

#nav-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn, .btn-default, .btn-xs {
    background-color: #313e4f;
}

.glyphicon-menu-hamburger {
    color: white;
}

.btn-default {
    border-color: #313e4f;
}

.btn-default:hover {
    border-color: none;
    background-color: none;
}

.jumbotron {
    background-color: #1BBC9B;
    color: white;
    margin-bottom: 0;
    padding: 100px 0;
}

.jumbotron img {
    height: 250px;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron p {
    font-weight: bold;
}

.separatore {
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separatore::before,
.separatore::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: white;
}

.separatore::before {
    left: 0;
}

.separatore::after {
    right: 0;
}

.white-area {
    color: #2c3e50;
    padding: 6rem 0;
}

.separatore2 {
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separatore2::before,
.separatore2::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: #2c3e50;
}

.separatore2::before {
    left: 0;
}

.separatore2::after {
    right: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 7px;
}

.about {
    background-color: #1BBC9B;
    color: white;
    margin-bottom: 0;
    padding: 70px 0;
}

.bottone {
    margin-top: 15px;
}

#bottone-verde {
    background-color: rgba(255, 0, 0, 0);
    color: white;
    border: 2px solid white;
    padding: 20px 35px;
}
